<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-scheduler"
    version="1.1.0">
    <name>SchedulerPlugin</name>
    <description>Cordova Plugin Scheduler</description>
    <license>MIT</license>
    <repo>https://github.com/raphaelmerx/cordova-plugin-scheduler</repo>
    <issue>https://github.com/raphaelmerx/cordova-plugin-scheduler/issues</issue>
    <keywords>cordova,scheduler</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/SchedulerPlugin.js" name="SchedulerPlugin">
        <clobbers target="window.SchedulerPlugin" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/CDVSchedulerPlugin.java" target-dir="src/com/catalpa/scheduler" />

        <source-file src="src/android/SchedulerPlugin.java" target-dir="src/com/catalpa/scheduler" />
        <source-file src="src/android/SchedulerPluginConfig.java" target-dir="src/com/catalpa/scheduler" />
        <source-file src="src/android/FetchJobService.java" target-dir="src/com/catalpa/scheduler" />

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SchedulerPlugin">
                <param name="android-package" value="com.catalpa.scheduler.CDVSchedulerPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.catalpa.scheduler.FetchJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />
        </config-file>

    </platform>

</plugin>
